.container
  - if user_signed_in?
    =link_to "ログアウト",destroy_user_session_path, class: "container__login"
  -else
    =link_to "アカウントをお持ちの場合  ログイン", new_user_session_path, class: "container__login"

.main
.dashboard
  %p hello
.tweet-area
  = form_for(@tweet) do |f|
    =f.text_field :text, placeholder: "今どうしてる？"
    =f.submit class: "__submit"
  = render partial: "tweet", collection: @tweets
