body{
  background-color: #e6ecf0;
}

.fa-twitter{
  display: inline-block;
  width: 24px;
  height: 21px;
  color: #1da1f2;
  cursor: pointer;
  font-size: 21px;
}

.container{
  width: 100%;
  height: 50px;
  text-align: center;
  &__login{
    margin-left: 6px;
    margin-right: 0;
    float:right;
  }
}
.main{
  height:100%;
}
.dashboard{
  float:left;
  width:300px;
  border: 1px solid #e6ecf0;
  background: #fff;

}
.tweet-area{
  float:right;
  width:calc(100% - 320px);
  &__item{
    background: #fff;
    border: 1px solid #e6ecf0;
    margin: 0;
  }
}

