body{
  background-color: #e6ecf0;
  margin:0;
}

.fa{
  margin:11px 0 0 10px;
}

.fa-twitter{
  display: inline-block;
  width: 24px;
  height: 21px;
  color: #1da1f2;
  cursor: pointer;
  font-size: 21px;
}


.container{
  background-color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  display: inline-block;
  &__login{
    margin-left: 6px;
    margin-right: 0;
    float:right;
  }
  clear: both;
  &__text{
    text-decoration: none;
    padding:0px 14px 0px 4px;
    color: #FAB81E;
  }
  span{
    color:black;
  }
}
.nav{
  list-style: none;
  text-align:left;
  float:left;
  padding:0;
  margin:0;
  li{
    display: inline-block;
    a{

    }
  }
  
}
.main{
  height:100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 1000px;
  margin: auto;
}

.dashboard{
  position: relative;
  float:left;
  width:350px;
  border: 1px solid #e6ecf0;
  background: #fff;
  margin: 10px 12px;
  &__status{
    ul{
      list-style: none;
      padding-left: 0;
    }
    li{
      display: inline-block;
      width: 30%;
    }
    span{
      display: block;
    }
    padding: 16px;
  }
  &__avatar{
    height: 72px;
    width:  72px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  &__profilecard{
    display: inline;
    position: absolute;
    top: 10px;
    left: 90px;
    &__name{
      
    }
  }

}

.tweet-area{
  margin-top: 10px;
  margin-right: 30px;
  float: left;;
  width: 540px;
  background: #fff;
  &__boader{
    border: 1px solid #e6ecf0;
    position: relative;
    .avatar{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 50%;

    }
  }
  &__action-area{
    margin-left: 50px;
    .fa-comment-o{
      margin-left: 80px;
    }
    .fa{
      margin-left: 50px;
    }
  }

  &__item{
   
    margin-top: 3px;
    margin-left: 58px;
    &__username{
      font-weight: bold;
    }
    &__image{
      // position: absolute;
      width: 35px;
      width: 100%;
    }
  }
  &__box{
    background-color: #E8F4FB;
    &__tweet{
      padding:10px 12px;
      position: relative;
      &__form{
        
        &__avatar{
          width: 32px;
          height: 32px;
          position: absolute;
          left: 20px;
          top: 15px
        }
        &__file{
          display: inline;
        }
      }
      &__phtoto-selector{
        display: none;
      }
    }
  }
}
#tweet_text{
  font-size: 14px;
  padding-bottom: 10px;
  min-width: calc(100% - 80px);
  display: inline;
  border: none;
}
.clearfix{
  clear:both;
}
#new_tweet{
  background-color: #fff;
}#new_tweet{
  margin-left: 50px;
}
