body{
  background-color: #e6ecf0;
}

.fa-twitter{
  display: inline-block;
  width: 24px;
  height: 21px;
  color: #1da1f2;
  cursor: pointer;
  font-size: 21px;
}


.container{
  padding-top:15px;
  background-color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  display: inline-block;
  &__login{
    margin-left: 6px;
    margin-right: 0;
    float:right;
  }
  clear: both;
  &__text{
    text-decoration: none;
    padding-left:0 14px 0 4px;
    color: #FAB81E;
  }
  span{
    color:black;
  }
}
.nav{
  list-style: none;
  text-align:left;
  float:left;
  margin:0;
  li{
    display: inline-block;
    a{

    }
  }
  
}
.main{
  height:100%;
}
.dashboard{
  float:left;
  width:300px;
  border: 1px solid #e6ecf0;
  background: #fff;

}
.tweet-area{
  float:right;
  width:calc(100% - 400px);
  &__item{
    background: #fff;
    border: 1px solid #e6ecf0;
    margin: 0;
  }
}

