.container{
  width: 100%;
  height: 50px;
  &__login{
    margin-left: 6px;
    margin-right: 0;
    float:right;
  }
}
.main{
  height:100%;
}
.dashboard{
  float:left;
  width:300px;
  background-color: red

}
.tweet-area{
  float:right;
  width:calc(100% - 300px);
  &__item{
    background: #fff;
    border: 1px solid #e6ecf0;
    margin: 0;
  }
}

