body{
  background-color: #e6ecf0;
  margin:0;
}

.fa{
  margin:11px 0 0 10px;
}

.fa-twitter{
  display: inline-block;
  width: 24px;
  height: 21px;
  color: #1da1f2;
  cursor: pointer;
  font-size: 21px;
}


.container{
  background-color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  display: inline-block;
  &__login{
    margin-left: 6px;
    margin-right: 0;
    float:right;
  }
  clear: both;
  &__text{
    text-decoration: none;
    padding:0px 14px 0px 4px;
    color: #FAB81E;
  }
  span{
    color:black;
  }
}
.nav{
  list-style: none;
  text-align:left;
  float:left;
  padding:0;
  margin:0;
  li{
    display: inline-block;
    a{

    }
  }
  
}
.main{
  height:100%;
  margin-left: 10px;
  margin-right: 10px;
  
}

.dashboard{
  float:left;
  width:300px;
  border: 1px solid #e6ecf0;
  background: #fff;
  margin: 10px 12px;

}
.tweet-area{
  float:right;
  width:calc(100% - 350px);
  &__item{
    background: #fff;
    border: 1px solid #e6ecf0;
    margin: 0;
  }
  &__box{
    
    &__tweet{
      padding:10px 12px;
    }
  }
}
.clearfix{
  clear:both;
}

